# Operating System
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.pnpm-store/

# Build and Output
dist/
build/
.out/

# Environment and Secrets
.env
.env.local
.env.*.local
*.pem

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary files and scratch space
/scratch/
*.log
